
/*VARIBLES GENERALES SITIO */
$color-fondo-sitio: rgb(61, 61, 61);
$height-header: 70px;

$boxshadow-tipo1: -32px 22px 15px 0px rgba(0,0,0,0.1),
inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

$boxshadow-tipo2: inset 38px 46px 91px -28px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),24px 29px 40px 11px rgba(0,0,0,0.1),28px 10px 15px -3px rgba(0,0,0,0.1),24px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

$boxshadow-tipo3: -32px 22px 15px 0px rgba(0,0,0,0.1),
inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

/*VARIABLES BARRAS DE NAVEGACION Y SOCIAL BAR*/
$height-nav-bar: 70px;
$ancho-nav-bar-media768:90px;
$ancho-nav-bar-media576:70px;
$color-fondo-nav-bar: hsla(241, 75%, 39%, 0.65);  /*rgb(49, 44, 44);*/
$color-fondo-nav-bar-hover: hsla(240, 5%, 61%, 0.65);
$color-fondo-nav-bar-media: hsla(240, 5%, 61%, 0.65);
$color-social-bar:  rgba(248, 248, 248, 0.3);/*hsla(241, 75%, 39%, 0.45);  hsla(241, 75%, 39%, 0.45);*/
$ancho-iconos-social-bar:42px;
$alto-iconos-social-bar: 42px;
$posicion-social-bar: 400px 0px 0px 96%;
$posicion-x-social-bar: 96%;
$posicion-y-social-bar: 360px;
$color-div-suscripcion: rgb(0, 0, 0);
$posicion-x-boton-activar-social-bar: 96%;
$posicion-y-boton-activar-social-bar: 300px;
