.portada_intro{

    position: fixed;
    top: 15%;
    left: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    width: 56%;
    height: 500px;
    background: url("../imagenes/img_portada_intro.jpg");
    background-size:cover;
    background-position:right;
    background-repeat: no-repeat;
    transition: left 0.7s;
    overflow: hidden;
    

    .close_intro_toggle{

        @include estilo_boton_redondo_transparente;
        font-size: 30px;
        font-weight:bold;
        scale: 60%;
        grid-column: 12;
        grid-row: 1;
        align-self: end;
        justify-self: end;
       
        

    }

    .logo_intro{

        background-color: transparent;
        scale: 100%;
        grid-column: 8/12;
        grid-row: 2/6;
        width: 100%;
        height: 100%;
      
    }

}

.intro_visible_off{

   left:100%;
}

.intro_visible_on{

    left:22%;
}











.portada_noticias{

    position: fixed;
    top: 9%;
    left: -100%;
    display: flex;
    width: 70%;
    height: 600px;
    background-color: rgba(12, 88, 5, 0.8);-webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3px);
    transition: left 0.7s;
    overflow: hidden;

    p{
        align-self: center;
        background-color: transparent;
        color:white;
        font-family: familia_3;
        font-size: 50px;
    }
    

    .close_noticias_toggle{

        @include estilo_boton_redondo_transparente;
        font-size: 30px;
        font-weight:bold;
        scale: 60%;
        align-self: end;
        justify-self: end;

    }

}

.intro_noticias_off{

   left:100%;
}

.noticias_visible{

    left:15%;
}