footer{

    display: flex;
    width: 100%;
    height: 210px;
    padding: 0 0 0 360px;
    overflow: hidden;
    background-color: black;
        .links_footer{
        font:bold;
        color:#FFFFFF;
        background-color: #000000;
        font-size: 16px;
        margin:0 0 0 50px;
        padding-top: 40px;
        text-decoration: none;
    }
}


