.seccion_tour_container{
    @include container_secciones(flex,url("../imagenes/img_portada_tour.jpg"));
    background-size: 80%;
    background-position:right;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -40px;
    
    justify-content:flex-end;
    
    box-shadow: $boxshadow-tipo1;
    .container_fechas_tour{
    @include contenedor_informacion(row,20%,100%,rgba(5, 90, 55, 0.85),0px 0px 0 0px, 0 0px 0 0px);
    flex-wrap: wrap;
    overflow-y: scroll;
    
    .concierto_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 220px;
        margin: 25px 0 0 25px;
        padding: 20px 0 0 0;
        overflow: hidden;
        box-shadow: $boxshadow-tipo2;

        
        &:hover{
            background-color: rgba(34, 9, 100, 0.733);
            filter: opacity(0.9);
            transform: scale(1.04);
            box-shadow: $boxshadow-tipo3
        }
      h2{
            background-color: transparent;
            color: rgb(255, 255, 255);
            font-family:familia_barlow;
            font-size: 18px;
            letter-spacing: 4px;
            font-weight: bolder;
            }
        .flag_tourdate{
            width: 40px;
            height: 40px;
            margin: 20px  0 0PX 0;
            background: none;
            box-shadow: $boxshadow-tipo1;
           }
        h3{
            margin: 0px  0 0PX 0;
            background-color: transparent;
            font: familia_1;
            color: rgb(255, 255, 255);
            font-family:familia_barlow;
            font-size: 18px;
            letter-spacing: 4px;
        }
        h4{
            background-color: transparent;
            font: familia_1;
            color: rgb(255, 255, 255);
            font-family:familia_barlow;
            font-size: 16px;
            font-weight: lighter;
            letter-spacing: 2px;
        }
        h5{
            background-color: transparent;
            font: familia_1;
            color: rgb(255, 255, 255);
            font-family:familia_barlow;
            font-size: 16px;
            font-weight: lighter;
           
        }
        a{
            margin: 20px 0 0 0;
            padding: 1px 15px 1px 15px;
            background-color:rgba(248, 53, 27, 0.836);
            box-shadow: $boxshadow-tipo2;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-family:familia_barlow;
            font-size: 16px;
            font-weight: lighter;
            &:hover{
                background-color: rgba(50, 117, 11, 0.733);
            }
            
        }
    }
   
}
}

