.galeria_imagenes_container{
    @include container_secciones(grid,none);
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-auto-rows: minmax(690px, auto);
    gap: 15px;
    .grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
      
        background-color: #03afff;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
      
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        box-shadow: $boxshadow-tipo3;
        &:hover{
            
            /*ilter: opacity(0.9);*/
            background-blend-mode:soft-light;
            transform: scale(1.1);
            box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
            inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
            inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
            0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

            border-radius: 0px 0px 139px 0px;-moz-border-radius: 0px 0px 139px 0px;-webkit-border-radius: 0px 0px 139px 0px;border: 0px solid #000000;
        }
      }
    
}




/*------------------------------------------------------------*/
footer{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; /* estp definelo azul*/
    overflow: hidden;
    background-color: $color-fondo-nav-bar;
    
    .toogle_down{
        display: flex;
        justify-content: center;
        width: 100%;
        height:40px;
        background-color: $color-fondo-sitio;/*$color-fondo-nav-bar;*/
        margin: 0 0 0 0;
        box-shadow: $boxshadow-tipo1;
        
        a{
            background-color: transparent;
            .icono_abajo{

                width: 40px;
                height: 40px;
                background:none;
                color: #FFFFFF;
                
            }
        }
    }
    
    .div_suscripcion{
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 72px;
        background-color: $color-div-suscripcion;
        box-shadow: $boxshadow-tipo1;
        
        h4{
            margin: 0 20px 0 0px;
            background-color:transparent;
            font-family: familia_barlow;
            color: white;
            font-size: 16px;
            letter-spacing: 3px;
        }
        .formulario_suscripcion{
            
        
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: transparent;
            
            input{
                width: 250px;
                height: 30px;
                background-color: #FFFFFF;
                box-shadow: $boxshadow-tipo1;
            }
            
            .button_suscripcion{

               
                margin-left: 15px;
                padding: 2px 32px 2px 32px;
                font-family: familia_1;
                font-size: 18px;
                color: #FFFFFF;
                background-color: transparent;
                border-style: double;
                border-color: #FFFFFF;
                overflow: hidden;
                
                &:hover{
                background-color: rgba(34, 9, 100, 0.733);
                transform: scale(1.04);
                box-shadow: $boxshadow-tipo3;
                }
            }
        }
    }
    
    .informacion_pie{
        
        display: flex;
        flex-direction: column;
        height: 240px;
        align-items: center;
        justify-content:space-around;
        background-color: rgb(0, 0, 0); /*$color-fondo-nav-bar;*/
   
        .leyendas_pie{
                
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            background-color: transparent;
            p{
                font-family: 'Courier New', Courier, monospace;
                color: #FFFFFF;
                background-color: transparent;
                font-size:medium;
            }
        }
        
        .link_contratacion{

            display: flex;  
            justify-content:center;
            background-color: transparent;
            margin-bottom: 50px;
            
            a{                    
                padding: 5px 35px 5px 35px;
                font-family: familia_1;
                font-size: 18px;
                color: #FFFFFF;
                background-color: transparent;
                border-style: solid;
                border-color: #FFFFFF;
                overflow: hidden;
                text-decoration: none;
                
                &:hover{
                    background-color: rgba(34, 9, 100, 0.733);
                    transform: scale(1.04);
                    box-shadow: $boxshadow-tipo3;
                }
            }
        }
    }
       
}