


.biografia_container{
        
    @include container_secciones(flex,url("../imagenes/img_portada_bio.jpg"));
    background-size:85%;
    background-repeat: no-repeat;
    background-position-x: 400px; 
    .contenedor_txt{
        @include contenedor_informacion(column,540px,550px,rgba(5, 90, 55, 0.85),50px 0px 0 100px, 0 30px 0 0);
        h1{
        margin: 30px 30px 40px 35px;
        background-color: transparent;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 255, 255);
        }
    
        p{
        height: 70%;
        padding: 0px 60px 20px 60px;
        background-color: transparent;
        overflow-y: scroll;
        color: rgb(255, 255, 255);
        font-family: familia_3;
    
    }

}
}


