@media (max-width: 1080px){

    .biografia_container{

        margin-bottom: 0;
        height: 1880px;
        background-position-x: -200px;
        .contenedor_txt{
            width: 45%;
            margin-left: 0;
        }


    }

}
       

@media (max-width: 768px){

    .biografia_container{

        margin-bottom: 0;
        height: 880px;
        background-position-x: -200px;
        .contenedor_txt{
            width: 45%;
            margin-left: 0;
        }


    }


       
}


