

@media (max-width: 768px){

    
    header{
        
        .header_nav_bar{
    
        
            .header_nav_logo1{
                display: none;
            }
            .header_nav_toggle{
                display: block;
            }
            .nav_lista_secciones_sitio{
                display: none;
            }
            .header_nav_mxflag{
                display: none;
            }
                           
        }

        .social_bar{
            display: none;
        }
    }

    footer{
        .div_suscripcion{
            background-color: aqua;
        }
    }
}
      