
@media (max-width: 768px){

    .contrataciones_container{

        margin-bottom: 0;
        height: 880px;
        background-position-x: -400px;
        background-position-y: -70px;
        flex-direction: column;
        align-content: space-around;
        justify-content: flex-end;

        
        .formulario_contacto{

            width: 80%;
            height: 60%;
            background-color: $color-social-bar; 
        }


    }


       
}


