
@media (max-width: 768px){

    .seccion_conciertos_container{

        margin-bottom: 0;
        height: 880px;
        background-position-x: -300px;
        
     }


       
}


/* MEDIA 414 ---------------------------------*/

@media (max-width: 414px){

    .seccion_conciertos_container{
        background-size:200%;
        margin-bottom: 0;
        height: 620px;
        background-position-x: -200px;
       


    }


       
}