@font-face {
    font-family: familia_1;
    src: url('../fonts/Staatliches-Regular.ttf');

}

@font-face {
    font-family: familia_2;
    src: url('../fonts/Staatliches-Regular.ttf');

}

@font-face{

    font-family: familia_roboto;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face{

    font-family: familia_barlow;
    src: url('../fonts/BarlowCondensed-Regular.ttf');
}
